<h2>Winter 2020</h2>

<div class="cards">
  <% @animes.each do |anime|%>
  <div class="card-category" style="background-image:  url(<%= anime.image %>)">
  <h2> <%= anime.title %> </h2>
  <!-- <h3> <%= anime.image  %></h3> -->
  </div>
  <% end %>
</div>
